body {
    margin: auto;
    color: black;
    padding: 30px;
   font-family: 'Montserrat', sans-serif;
 
}

/* ---- Set up site grid ---- */

.container {
    display: grid;
    grid-template-columns: 300px 1000px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "logo banner banner"
        "nav nav nav"
        "main main side"
        "footer footer footer";
     grid-gap: 4px;
}




/* ---- End of grid setup ---- */
/* -000- Area styling -000- */

 .box {
        padding: 20px;
        background-color: #ddd; 
        border-radius: 10px;

} 

/* Area colouring... */

/* logo, banner, navigation and footer are the same */ 
.logo, .banner, .nav, .footer{
        background-color: #BAEEFF; /* Light blue */ 
} 



/* Area specifics */ 

.logo {
    grid-area: logo; 
    padding:0;
    width:320;
    height:199px;
    background-image: url(images/logo2_v2.png)
}

 .banner {
    grid-area: banner; 
}

.nav {
    grid-area: nav;  
   font-size: 125%;
    text-align: center;
}
    

.main {
     grid-area: main;
   background-color: #FFFDD6; 
}

.side {
    grid-area: side;
    background-color: #fff; 
} 

 
.footer {
    grid-area: footer;
     text-align: center; 
} 

/* -000- End of Area styling -000- */

/* Font Headings */ 
h1, h2, h3, h4 {
    font-family: 'Bellota', cursive;
}

/* -000- End of Headings -000- */


/* -000- Navigation Links and Dropdown Menu -000- */

.dropbtn {
  background-color: #BAEEFF;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #BAEEFF;}

.nav a {font-weight: bold;}
.nav a:link {color: #000;} a:visited {color: #000;}
.nav a:hover {color: darkblue; text-decoration: none;}

/* links in side bar */


.side a:hover{color: red;}
.side a:link {color:#0369FF;} a:visited {color:#0369FF;}



 /*.masterchef {
 padding: 10px;
    margin: 5px;
    width: 150px;
    border-radius: 5px;
    text-align: left;
    background-color: #BAE88B;
    font-size: 50;
} */